@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#welcome_div {
    background: url(explainer.jpg);
    background-size: cover;
    background-color: lightgray;
    padding: 50px;
    height: 200px;
    text-align: center;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    top: 0px;
    border-radius: 30px;
}



#text-container {
    display: inline-block;
    /* Ensures that the cursor is displayed in front of the text */
    border-right: 30px solid black;
    /* Cursor styling */
    padding-right: 5px;
    /* Distance between cursor and text */
    font-size: 2em;
    transition: 2s;
}

#permission_div {
    box-shadow: -4px -4px 0px rgba(0, 0, 0, 0.5);
    background-color: lightgreen;
    height: 5%;
    padding: 10%;
    font-size: 20px;
}

.home_button {
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: rgb(8, 8, 8);
    border-radius: 8px;
}
.button:hover{
    cursor: pointer;
}
#continue_yes{
    background :linear-gradient(to top,rgb(21, 203, 4),rgb(182, 249, 151),rgb(0, 255, 0));
    margin-right: 80px;
}
#continue_no{
    background :linear-gradient(to top,rgb(225, 26, 26),rgb(235, 98, 98),rgb(228, 6, 6));  
}
footer{
    background-color:rgb(47, 41, 41) ;
    color: white;
    font-weight: bold;
    padding: 20px;
    padding-left: 5%;
}
#my_details{
    margin-left: 40px;
}

